services: mongodb
sudo: false                                                                                                   

language: ruby                                                                                                

cache: bundler                                                                                                

rvm:
  - 2.3
  - 2.2
  - 2.1.1
  - 2.0.0
  - 1.9.3

env:
  - MONGOID_VERSION=2
  - MONGOID_VERSION=3
  - MONGOID_VERSION=4
  - MONGOID_VERSION=5
  - MONGOID_VERSION=6
  - MONGOID_VERSION=7

matrix:
  exclude:
  - rvm: 1.9.3
    env: MONGOID_VERSION=6
  - rvm: 2.0.0
    env: MONGOID_VERSION=6
  - rvm: 2.1.1
    env: MONGOID_VERSION=6
  - rvm: 1.9.3
    env: MONGOID_VERSION=7
  - rvm: 2.0.0
    env: MONGOID_VERSION=7
  - rvm: 2.1.1
    env: MONGOID_VERSION=7
